

form {
  background: linear-gradient(70deg, blue, orange);
}

.jacquarda-bastarda-9-charted-regular {
  font-family: "Jacquarda Bastarda 9 Charted", serif;
  font-weight: 400;
  font-style: normal;
}

